In [ ]:
import pymongo
client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.polizia_locale # nome del database
multe = db.multe
multe1 = db.multe1
prop = db.proprietari_auto
tipo_infraz = db.tipologia_infrazioni

In [ ]:
import pandas as pd

In [ ]:
df_multe = pd.DataFrame(multe.find())
df_multe1 = pd.DataFrame(multe1.find())
df_prop = pd.DataFrame(prop.find())
df_tipo_infraz = pd.DataFrame(tipo_infraz.find())

In [ ]:
df_multe

                        _id    targa                data  codice_infrazione
0  61a3c339002f6ba194601ee7  BM665RE 2021-10-10 22:00:00                  1
1  61a3c339002f6ba194601eeb  DS456AS 2021-10-17 22:00:00                  2
2  61a3c339002f6ba194601eea  DS456AS 2021-10-18 22:00:00                  3
3  61a3c339002f6ba194601ee9  BM665RE 2021-10-18 22:00:00                  1
4  61a3c339002f6ba194601ee8  DS456AS 2021-10-10 22:00:00                  2

In [ ]:
df_multe1

                        _id    targa                data  codice_infrazione
0  61a3c36c002f6ba194601ef1  DS456AS 2021-11-16 23:00:00                  3
1  61a3c36c002f6ba194601ef2  DS456AS 2021-11-12 23:00:00                  5
2  61a3c36c002f6ba194601eef  DS456AS 2021-11-11 23:00:00                  2
3  61a3c36c002f6ba194601ef0  BM665RE 2021-11-16 23:00:00                  4
4  61a3c36c002f6ba194601ef3  XX000YY 2021-11-18 23:00:00                  5
5  61a3c36c002f6ba194601eee  BM665RE 2021-11-27 23:00:00                  5

1
trovare i nominativi dei proprietari di auto che hanno commesso un'infrazione legata ai limiti di velocità (eccesso di velocità)

In [ ]:
df__id_x = df_tipo_infraz
df__id_x

                        _id  ...                                               note
0  61a49d205a4cb744e63c8d38  ...                  sospensione patente da 2 a 6 mesi
1  61a49d205a4cb744e63c8d36  ...                   tra 10 e 40 km/h oltre il limite
2  61a49d205a4cb744e63c8d35  ...                     fino a 10 km/h oltre il limite
3  61a49d205a4cb744e63c8d39  ...                    eventuale arresto da 1 a 8 mesi
4  61a49d205a4cb744e63c8d37  ...  sospensione patente da 1 a 3 mesi se recidiva ...
5  61a49d205a4cb744e63c8d3a  ...           eventuale arresto da sei mesi ad un anno

[6 rows x 6 columns]

2
trovare il numero di infrazioni per ogni tipologia di effrazione. Visualizzare il nome dell'effrazione e il numero di multe

In [ ]:
df_tipo_infraz = df['nome'].count()
df_tipo_infraz

NameError: ignored

3
trovare i nominativi dei proprietari e il tipo di infrazione commessa in un giorno particolare inserito dall'utente

In [ ]:
df_data = df_tipo_infraz + df_nome
df_data

NameError: ignored

4
visualizzare le targhe delle auto con cui non è stata commessa nessuna infrazione

In [ ]:
df_tipo_infraz = "Nan"
df__id_x

                        _id  ...                                               note
0  61a49d205a4cb744e63c8d38  ...                  sospensione patente da 2 a 6 mesi
1  61a49d205a4cb744e63c8d36  ...                   tra 10 e 40 km/h oltre il limite
2  61a49d205a4cb744e63c8d35  ...                     fino a 10 km/h oltre il limite
3  61a49d205a4cb744e63c8d39  ...                    eventuale arresto da 1 a 8 mesi
4  61a49d205a4cb744e63c8d37  ...  sospensione patente da 1 a 3 mesi se recidiva ...
5  61a49d205a4cb744e63c8d3a  ...           eventuale arresto da sei mesi ad un anno

[6 rows x 6 columns]